*{
    margin:0px;
    padding: 0px;;
}
body{
    background-color: hsla(36, 20%, 95%, 1.0)
}
.mainProductContainer{
   background-color: black;
   color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    margin: 0px 20px;
    color:white;
}

.navlinks ul{
    display:flex;
    justify-content: space-evenly;
    width: 70vw;
    list-style: none;

}
.navlinks a{
    text-decoration: none;
    color: white;
    
}

button{
    margin-right: 20px;
}

.products{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    color: black;
}

.products img{
    height: 400px;
    width: 400px;
    background-color: rgb(216, 219, 219);
    border-radius: 20px;

}

.products h1{
    font-size: medium;

}


